/* Style the sidebar */
.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block;
}