/*Bhonagiri, Ravikiran - 1002122494*/
/*Marupaka, Akhila - 1002067041*/
/*Dasari, Diiya - 1001934969*/
/*Ganji, Venkata Sai Devendranath - 1002087897*/

body {
    font-family: Arial, sans-serif;
}

body, ul, li, h1, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and style for the header */
header {
    background-color: #007BFF;
    padding: 20px 0;
}

h1 {
    justify-content:center ;
    margin: 0;
    padding: 0;
}

/* Style the main sections */
main {
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#button-grid {
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 0 auto; 
    text-align: center; 
        
	margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
        }

        #button-grid a {
  
            padding: 10px;
            text-align: center;
            background-color: #00BBFF;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
        }

.button {
	padding: 10px;
	text-align: center;
	background-color: #00BBFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

.button1 {
	padding: 10px 20px;
    cursor: pointer;
	text-align: center;
	background-color: #00BBFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
}

/* Basic CSS styling for the form */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#container-new-policy {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#qao-email {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



h1 {
    text-align: center;
}

#clear, #submit-policy{
    padding: 10px;
    text-align: center;
    background-color: #00BBFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#send-button{
    padding: 10px;
    text-align: center;
    background-color: #00BBFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button:hover {
    background-color: #0056b3;
}

#search-course {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
